<% if (theme.totop){ %>
	<div id="totop">
	<a title="<%= __('totop')%>"><img alt="返回顶部" src="<%- config.root %>img/scrollup.png"/></a>
	</div>
	<script src="<%- config.root %>js/totop.js"></script>
<% } %>