<div class="hotarticles">
  <p class="asidetitle"><%= __('hot_articles') %></p>

  <!-- 多说热评文章 start -->
  <div class="ds-top-threads" data-range="monthly" data-num-items="5">
  </div>
  <!-- 多说热评文章 end -->

</div>